{% extends 'layout.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ css('Post/list') }}">
{% endblock %}


{% block body %}

    <div class="row">

        {% for post in postList %}

            {% if lopp.index < 2 %}
                <div class="col-md-6 post_list_post">

                    <a class="post_list_link" href="{{ path('post', {'id' : post.id}) }}">
                        <h4 class="post_list_title">{{ post.title }}</h4>

                        <img class="post_list_image" src="{{ img('uploads/' ~ post.images[0].url) }}">
                    </a>

                    <p class="post_list_update">
                        Dernière modification : {{ post.dateUpdate | date('d/m/Y à H:i') }}
                    </p>

                </div>
            {% endif %}

        {% endfor %}

    </div>

    <div class="row">

        <div id="post_list_pagination" class="col-md-offset-5 col-md-2">

            <ul class="pagination">
                {% for p in range(1, nbPages) if nbPages != 0 %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path("post_list", {"page" : p}) }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>

        </div>

    </div>

{% endblock %}